
html {
    background: #000000 ;
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;

}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

nav h1 {
    color: #007d7b;
    background-color: #ffffff;
    width: 900px;
    background-position: center;
    font-size: 3em;
    width:80%;
    max-width: 900px;
    min-width: 800px;
    margin:0 auto;
    padding:10px;
    text-align: left;
  }

nav a{
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
   

}
nav li{
    margin: 10px; 
    display: inline-block;  
  }


main {
    background-color: #ffffff;
    max-width: 900px;
    min-width: 800px;
    margin:0 auto;
    padding:10px;
    justify-content: center;
}

h2{
   font-size: 2em; 
   text-align: center;
}

main ~ h2{
    color: #000000;
}

p {
    font-size: 1.25em;
    margin: 20px;
    text-align: left;
}
.grid-wrapper > div {
    display:flex;
    justify-content: center;
    align-items: center;

}

.grid-wrapper > div >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#contact > h2{
    color: #ffffff;
    margin: 20px;
}

#contact >p {
    color: #ffffff;
    text-align: center;
}

form {
    max-width: 600px;
    color: #ffffff;
    display: inline-block;
    

}
label, textarea {
    display: block;
    width: 100%;
    text-transform: uppercase;
}

label {
  margin-left: 10px;
}
textarea {
    color: #007d7b;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
input {
    background-color: #007d7b;
    border: none;
    width: 400px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

[href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
    border-radius:10px 0 0px 0px;}

footer{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1em;
    display: inline-block;
}
